<p style="color: green"><%= notice %></p>

<div class="mb-4 d-flex align-itams-center justify-content-between">
  <div class="d-flex">
    <h3 class="border-bottom m-0 border-3 border-primary pb-1"><%= link_to 'Фактури', invoices_path %></h3>
    <%= form_tag invoices_path, method: :get do %>
      <p class="my-0 mx-5"><%= text_field_tag :search, params[:search], placeholder: "🔍 Барај сѐ", class:"form-control w-100 border border-primary" %></p>
    <% end %>
  </div>
  <%= link_to "+ Внеси фактура", new_invoice_path, class:"btn btn-primary" %>
</div>

<div id="invoices">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Клиент</th>
          <th scope="col">Релација</th>
          <th scope="col">Износ</th>
          <th scope="col">Дата</th>
          <th scope="col">Валута</th>
          <th scope="col"><p class="text-end m-0">Акции</p></th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <% @invoices.each do |invoice| %>
          <th scope="row"><%= invoice.number %>/<%= invoice.fiscal_year.to_s[2..-1] %></th>
          <td><%= invoice.customer.split(", ").first %></td>
          <td><%= invoice.service %></td>
          <td><%= number_with_delimiter(invoice.total_amount, delimiter: ".") %> <% if invoice.devizna? %>EUR<% else %>МКД<% end %></td>
          <td><%= invoice.date.strftime("%m/%d/%Y") %></td>
          <td><%= invoice.due_date.strftime("%m/%d/%Y") %></td>
          <td><p class="m-0 text-end"><%= link_to invoice_path(invoice) do %>Фактура<% end %></p></td>
        </tr>
        <% end %>
      </tbody>
      <tr>
        <th><%= @invoices.count %></th>
        <th></th>
        <th></th>
        <th>
            <p class="m-0"><%= number_with_delimiter(@total, delimiter: ".") %> МКД</p>
        </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </table>
</div>
